extends /app/views/layouts/dashboard

append content
  .vh-100.container.mx-auto
    .row
      .col-12
        .card
          .card-header.d-flex.justify-content-between.align-items-center
            h3.card-title #{i18n.ADMINISTRATOR.LIST_OF_ADMINISTRATORS}
            .card-toolbar
              button.btn.btn-sm.btn-light-primary.me-3(data-bs-toggle="modal" aria-label="Create assistant" data-bs-target="#create_assistant") #{i18n.APP.CREATE}
          .card-body
            .table-responsive
              +datatable('assistants', '/dashboard/assistants/datatable', `[
      {
        data: 'id', name: 'id', title: '', 
        searchable: false, 
        render: function (data, type, row) {
          return "<div class='form-check form-check-sm form-check-custom form-check-solid'><input class='form-check-input' type='checkbox' value='" + row.id +"'></div>";
        },
        orderable: false
      },
      {
        data: 'name', name: 'name', title: '${i18n.ASSISTANT.NAME}'
      },
      {
        data: 'email', name: 'email', title: '${i18n.ASSISTANT.EMAIL}'
      },
      { 
        data: 'created_at', name: 'created_at', title: '${i18n.ASSISTANT.CREATED_AT}',
        render: function (data, type, row) {
          const date = new Date(data);
          return date.toLocaleDateString();
        }
      },
      {
        data: 'updated_at', name: 'updated_at', title: '${i18n.ASSISTANT.UPDATED_AT}',
        render: function (data, type, row) {
          const date = new Date(data);
          return date.toLocaleDateString();
        }
      },
      {
        data: null, name: null, title: '${i18n.ASSISTANT.ACTIONS}', searchable: false, orderable: false,
        render: function (data, type, row) {
          let html = '';
          html += '<button class="btn btn-sm btn-clean btn-primary btn-icon" onclick="edit_assistant(\\'' + row.id +'\\')"><svg height="20px" width="20px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="currentColor"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#currentColor;} </style> <g> <path class="st0" d="M494.56,55.774l-38.344-38.328c-23.253-23.262-60.965-23.253-84.226,0l-35.878,35.878l122.563,122.563 l35.886-35.878C517.814,116.747,517.814,79.044,494.56,55.774z"></path> <polygon class="st0" points="0,389.435 0,511.998 122.571,511.998 425.246,209.314 302.691,86.751 "></polygon> </g> </g></svg></button>';
          html += '<button class="btn btn-sm btn-clean btn-danger btn-icon ms-3" onclick="delete_assistant(\\'' + row.id +'\\')"><svg fill="currentColor" width="20px" height="20px" viewBox="-80 0 512 512" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></g></svg></button>';
          
          return html;
        }
      }
    ]`, '/categorias/massive')
            
  script.
    document.addEventListener('DOMContentLoaded', function() {
     
    });

    function assistants_success(response) {
      console.log(response);
      $('#assistants').DataTable().ajax.reload();
    }

    function edit_assistant(id)
    {
      $.ajax({
        url: `/dashboard/assistants/${id}`,
        type: 'GET',
        success: function(response) {
          if (response.ok) {
          console.log(response);
            const data = response.data.assistant;
            // change action
            $('#edit_assistant').find('form').attr('action', `/dashboard/assistants/${data.id}`);
            $('#id_assistant').val(data.id);
            $('#edit_name').val(data.name);
            $('#edit_email').val(data.email);
            $('#edit_assistant').modal('show');
          }
        }
      });
    }

    function delete_assistant(id) {
      Swal.fire({
        title: '#{i18n.APP.ARE_YOU_SURE}',
        text: '#{i18n.APP.DELETE_CONFIRMATION}',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: '#{i18n.APP.YES}',
        cancelButtonText: '#{i18n.APP.CANCEL}',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: `/dashboard/assistants/${id}`,
            type: 'DELETE',
            success: function(response) {
              Swal.fire(
                '#{i18n.APP.DELETED}',
                '#{i18n.APP.YOUR_RECORD_HAS_BEEN_DELETED}',
                'success'
              );
              $('#assistants').DataTable().ajax.reload();
            }
          });
        }
      });
    }

append modals
  +base-modal('create_assistant', `/dashboard/assistants`, 'POST', 'lg', false, 'assistants_success', i18n.ASSISTANT.CREATE_ASSISTANT)
    .row
      .col-12  
        +input-label({id: 'name', label: i18n.ADMINISTRATOR.NAME, type: "text", placeholder: i18n.ADMINISTRATOR.NAME, isRequired: true})
    .row
      .col-12  
        +input-label({id: 'email', label: i18n.ADMINISTRATOR.EMAIL, type: "email", placeholder: i18n.ADMINISTRATOR.EMAIL, isRequired: true})

  +base-modal('edit_assistant', `/dashboard/assistants`, 'PUT', 'lg', false, 'assistants_success', i18n.ASSISTANT.EDIT_ASSISTANT)
    input(type='hidden', id='id_assistant', name='id')
    .row
      .col-12  
        +input-label({id: 'edit_name', label: i18n.ADMINISTRATOR.NAME, type: "text", placeholder: i18n.ADMINISTRATOR.NAME, isRequired: true})
    .row
      .col-12  
        +input-label({id: 'edit_email', label: i18n.ADMINISTRATOR.EMAIL, type: "email", placeholder: i18n.ADMINISTRATOR.EMAIL, isRequired: true})